<div class="row">
	<h1>Exchange this!</h1>
	<p>This page is private for your exchange</p>
	<div class='row'>
		<div class='small-centered columns'>
			<%= image_tag @post.picture, :class => 'show-picture'  %>
		</div>
	</div>

	<hr>
</div>

<br>
<div class="row"><h2>People</h2></div>

<div class="row">
	<div class="large-6 columns">
		<h3>Seller</h3>
		<p><%= @seller.full_name %></p>
		<p>555-555-5555</p>
		<p><%= mail_to @seller.email %></p>
	</div>
	<div class="large-6 columns">
		<h3>Buyer</h3>
		<p><%= @buyer.full_name %></p>
		<p>555-555-5555</p>
		<p><%= mail_to @buyer.email %></p>
	</div>
</div>

<hr>

<a name="place"></a>	
	<div class="row">
		<h2>Place</h2>
		<%= render "place_pane" %>
	</div>
<hr>

<div class="row"><h2>Time</h2></div>

<hr>

<div class="row comments">
	<h2>Chat</h2>
	<% if @exchange.comments.count == 0 %>
		<h4>none yet</h4>
	<% else %>
		<div class="row">
			<div class="everyone-else-label"><p>seller</p></div>
			<div class="post-owner-label"><p>buyer</p></div>
		</div>
		<% @exchange.comments.each do |c| %>
			<% unless c.id.nil? %>
				<%= render partial: "comment", locals: {comment: c, post: @exchange} %>
			<% end %>	
		<% end %>
	<% end %>
</div>

<!-- Post a comment stuff -->

<div class="row comment-post" style="margin-top:30px">
	<%= form_for [@exchange, @comment] do |f| %>
		<%= f.text_field :text, :autofocus => true, :placeholder => "write a comment" %>
		<%= f.submit "comment", :class => "button" %>
	<% end %>
</div>

<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyDbGHvHMeIHMycjI0vN-dquD3N7kqeSRCQ&libraries=places"%>
