<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  	<%= image_tag attachments['logo-small.png'].url %>
		<h1>You accepted the offer of <%= "$#{@post.max_offer.amount}" %> on your <%= link_to effective_post_name, post_url(@post) %></h1>
		<%= link_to "Coordinate your exchange", exchange_url(@exchange)%>
		<%= image_tag attachments['post_image.jpg'].url %>
  </body>
</html>