<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  	<%= image_tag attachments['logo-small.png'].url %>
		<h1>Offer of <%= "$#{@offer.amount}" %> received on <%= link_to effective_post_name, post_url(@post) %></h1>
		<%= link_to "Go to Flashbang to accept or comment", post_url(@post)%>
		<%= image_tag attachments['post_image.jpg'].url %>
  </body>
</html>