<div class='contain-to-grid'>
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <a href="<%= root_path %>">
        <li class="name" >
          <%= image_tag 'logo.png', width: '180'%>
        </li>
      </a>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="inactive" style="margin-right:20px">
          <%= link_to "post an item", new_user_post_path(current_user), class:'button', style:'margin-top: 13px'  %>
        </li>
        <!-- <li class="divider"></li> -->
        <!-- <li class="inactive"><a href="#">top</a></li> -->
        <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to 'latest', root_path %></li>
        <li class="<%= 'active' if current_page?(followed_tags_path) %>"><%= link_to 'following', followed_tags_path %></li>
        <li class="has-dropdown">
          <a href="#"><% current_user.full_name %></a>
          <ul class="dropdown">
            <li><a href="#">Account Settings</a></li>
            <li><%= link_to "Log out", destroy_user_session_path, :method => :delete %></li>
          </ul>
        </li>
      </ul>

      <!-- Left Nav Section -->
      <!-- <ul class="left">
        <li><a href="#">Left Nav Button</a></li>
      </ul> -->
    </section>
  </nav>
</div>