<div class="row comment">
	<% if comment.user == post.user %>
		<div class="comment-bubble-right">
		  <div class="arrow-right"></div>
		  <h3 class="comment-title"><%= comment.user.first_name %> <small>[post owner]</small> </h3>
		  <div class="comment-content">
		    <p><%= comment.text %></p>
		  <small><%= time_ago_in_words(comment.created_at).gsub('about','') %> ago</small>
		  </div>
		</div>
	<% else %>
		<div class="comment-bubble-left">
		  <div class="arrow-left"></div>
		  <h3 class="comment-title"><%= comment.user.first_name %></h3>
		  <div class="comment-content">
		    <p><%= comment.text %></p>
		  <small><%= time_ago_in_words(comment.created_at).gsub('about','') %> ago</small>
		  </div>
		</div>
	<% end %>

</div>