<%= form_for [@user, @post] do |f| %>
  <%= f.text_area :description, placeholder: "optional description" %>
  <%= f.text_field :price,placeholder: "price" %>
  <p>upload a pic</p>
  <%= f.file_field :picture %>
  <%= f.submit "post" %>
<% end %>