<% provide(:title, "$#{@post.price} #{@post.tags.first.name}...") %>

<div class='row'>
	<div>
		<h1 class="large-offset-3">asking price <%= number_to_currency(@post.price, precision: 0) %></h1>	
	</div>
</div>	

<div class='row'>
	<div class='small-centered columns'>
		<%= image_tag @post.picture, :class => 'show-picture'  %>
	</div>
</div>

<hr>

<div class="row tag-box">
	<h2>tags</h2>
	<ul id="mytags" class="tagit ui-widget ui-widget-content ui-corner-all show-tags">
		<% @post.tags.each do |t| %>
			<%= link_to(tag_path(t.name)) do %>
		    <li class= "tagit-choice ui-widget-content ui-state-default ui-corner-all">
		    	<span class="tagit-label">#<%= t.name  %></span>
		  	</li>
		  <% end %>
  	<% end %>
  </ul>
</div>

<hr>

<div class="row">
	<h2>offers</h2>
	<% if @post.offer_accepted? %>
		<p>An offer has been accepted at <%= number_to_currency(@post.max_offer.amount, precision: 0) %></p>
		
	<% else %>
		<% if offers_been_made? %>
			<h4>Best offer: <%= number_to_currency(@post.max_offer.amount, precision: 0) %></h4>	
		<% else %>	
			<h4>none yet</h4>
		<% end %>

		<% if @post.user == current_user %>
			<% if offers_been_made? %>
				<%= link_to( "Click to accept offer of #{number_to_currency(@post.max_offer.amount, precision: 0)}", accept_user_post_offer_path(@post.user, @post, @post.max_offer.id), {class: "radius button", id: "acceptOfferButton", :method => :get}) %>
			<% end %>
		<% else %>
			<a class="radius button" id="offerButton" href="#" data-reveal-id="offerModal">Make an Offer</a>
		<% end %>
	<% end %>

<!-- Offer Modal -->

<%= render "shared/offer_modal" %>

<!-- End of Offer Modal  -->
<p class="large-offset-3">expires in <%= time_ago_in_words(@post.expiration_date) %></p>

<hr>

<!-- Begin comments and comment posting  -->

<div class="row comments">
	<h2>comments</h2>
	<% if @post.comments.count == 0 %>
		<h4>none yet</h4>
	<% else %>
		<div class="row">
			<div class="everyone-else-label"><p>everyone else</p></div>
			<div class="post-owner-label"><p>post owner</p></div>
		</div>
		<% @post.comments.each do |c| %>
			<% unless c.id.nil? %>
				<%= render partial: "comment", locals: {comment: c, post: @post} %>
			<% end %>	
		<% end %>
	<% end %>
</div>

<!-- Post a comment stuff -->

<div class="row comment-post" style="margin-top:30px">
	<%= form_for [@user, @post, @comment] do |f| %>
		<%= f.text_field :text, :autofocus => true, :placeholder => "write a comment" %>
		<%= f.submit "comment", :class => "button" %>
	<% end %>
</div>
