<% provide(:title, "$#{@post.price} #{@post.tags.first.name}...") %>

<div class='row'>
	<div>
		<h2 class="large-offset-3">listed price <%= number_to_currency(@post.price, precision: 0) %></h2>	
	</div>
</div>	

<div class='row'>
	<div class='small-centered columns'>
		<%= image_tag @post.picture, :class => 'show-picture'  %>
	</div>
</div>

<div class="row tag-box">
	<ul id="mytags" class="tagit ui-widget ui-widget-content ui-corner-all show-tags">
		<% @post.tags.each do |t| %>
			<%= link_to(tag_path(t.name)) do %>
		    <li class= "tagit-choice ui-widget-content ui-state-default ui-corner-all">
		    	<span class="tagit-label">#<%= t.name  %></span>
		  	</li>
		  <% end %>
  	<% end %>
  </ul>
</div>

<div class="row">
	<% if @post.offer_accepted? %>
		<p>An offer has been accepted at <%= number_to_currency(@post.max_offer.amount, precision: 0) %></p>
		
	<% else %>
		<% if offers_been_made? %>
			<h1>Best offer: <%= number_to_currency(@post.max_offer.amount, precision: 0) %></h1>	
		<% else %>	
			<h1>No offers yet</h1>
		<% end %>

		<% if @post.user == current_user %>
			<% if offers_been_made? %>
				<%= link_to( "Click to accept offer of #{number_to_currency(@post.max_offer.amount, precision: 0)}", accept_user_post_offer_path(@post.user, @post, @post.max_offer.id), {class: "radius button", id: "acceptOfferButton", :method => :get}) %>
			<% end %>
		<% else %>
			<a class="radius button" id="offerButton" href="#" data-reveal-id="offerModal">Make an Offer</a>
		<% end %>
	<% end %>

<!-- Offer Modal -->

<%= render "shared/offer_modal" %>

<!-- End of Offer Modal  -->

<!-- Begin comments and comment posting  -->

<div class="row comments">
	<h3>Comments</h3>
	<% @post.comments.each do |c| %>
		<% unless c.id.nil? %>
			<%= render partial: "comment", locals: {comment: c, post: @post} %>
		<% end %>	
	<% end %>
</div>


<!-- Post a comment stuff -->

<div class="row comment-post" style="margin-top:30px">
	<%= form_for [@user, @post, @comment] do |f| %>
		<%= f.text_field :text, :autofocus => true, :placeholder => "write a comment" %>
		<%= f.submit "submit" %>
	<% end %>
</div>