<%= render "shared/navbar" %>

<% provide(:title, "$#{@post.price} #{@post.tags.first.name}...") %>

<div class='row'>
	<div>
		<h2 class="large-offset-3">listed price $<%= @post.price %></h2>	
	</div>
</div>	

<div class='row'>
	<div class='small-centered columns'>
		<%= image_tag @post.picture, :class => 'show-picture'  %>
	</div>
</div>

<div class="row tag-box">
	<ul id="mytags" class="tagit ui-widget ui-widget-content ui-corner-all show-tags">
		<% @post.tags.each do |t| %>
			<%= link_to(tag_path(t.name)) do %>
		    <li class= "tagit-choice ui-widget-content ui-state-default ui-corner-all">
		    	<span class="tagit-label">#<%= t.name  %></span>
		  	</li>
		  <% end %>
  	<% end %>
  </ul>
</div>

<div class="row comment-post">
	<%= form_for [@user, @post, @comment] do |f| %>
		<%= f.text_field :text %>
		<%= f.submit "Create" %>
	<% end %>
</div>

<div class="row comments">
	<% @post.comments.each do |c| %>
		<div class="row comment">
			<%#= c.user.first_name %>
			<%= c.text %>
		</div>
	<% end %>
</div>
